	*{
		margin: 0px;
		padding: 0px;
		
	}
	body{
		background-color: rgba(0,0,0,0.1);
	}
/* 	
.select_date_for_report{
	width: 80%;
	height: 10%;
	margin-left: 10%;
	
	display: flex;
	
	justify-content: space-between;
} */
/* .select_date_for_report>div{
	width: 50%;
	height: 100%;
	
	display: flex;
	align-items: center;
} */

#search_term{
	width: 300px;
	/* height: 30px;
	margin-left: 10px; */
}

.table-overflow{
	overflow: hidden;
	overflow-x: auto;
}  

table th {
	border: 1px solid black;
	border-collapse: collapse;
	font-weight: bold;
	padding: 10px;
	font-size: 16px;
	background-color:#1c3961 !important;
	color: white;
  }


table td {
	border: 1px solid black;
	border-collapse: collapse;
	font-weight: bold;
	padding: 10px;
	font-size: 16px;
	

  }




.select_date_for_report>div>label{
	font-size: 18px;
	font-weight: bold;
	color: red;
}
/* .select_date{
	width: 40%;
	margin-left: 5px;
	height: 50%;

} */
/* .submit_date{
	width: 12%;
	margin-left: 1%;
	height: 50%;
	background-color: #1c3961;
	color: white;
	font-weight: bold;
	border: none;
} */
.display_report{
	width: 90%;
	height: auto;
	margin-left: 5%;

}
.display_table{
	width: 100%;
	border-spacing: 0px;
	background-color: white;
	
	
 
}

.display_table th {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	  background-color:#1c3961;
	  color: white;
	}


.display_table td {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	  
	}

	#model{
		height:90%;
		width:80%;
		display: none;
		position: fixed;
		top: 5%;
		/* bottom: 5%; */
		left: 10%;
		background: rgb(52 49 49 / 88%);
		z-index: 1;
		overflow-y: scroll !important;
}
#model-form{
	background-color:white;
	width:80%;
	height: auto;
	position:relative;
	top:20px;
	left:10%;
	padding:;
	border-radius:4px;	
}
@media (max-width: 575.98px) { 
	#model-form{
		background-color:white;
		width:100%;
		height: auto;
		position:relative;
		top:20px;
		padding:;
		border-radius:4px;	
	}
 }
#close-btn{
	background-color:red;
	color:white;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:50%;
	position:absolute;
	top:-15px;
	right:-15px;
	cursor:pointer;
}
#record_table{
	width: 100%;
	cellpadding: "0";
	border: 1px solid black;
	
}
#record_table th {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	  background-color:#1c3961;
	  color: white;
	}


#record_table td {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	  

	}

table{
	
	border-spacing: 0px;
	background-color: white;
	
	
	

}

table th {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	  background-color:#1c3961;
	  color: white;
	}


table td {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	}

	.button-color{
		background-color: #1c3961;
		color: white;
	}
