	*{
		margin: 0px;
		padding: 0px;
		
	}
	body{
		background-color: rgba(0,0,0,0.1);
	}
	
	
	/* #form_main_div{
		width: 100%;
		height: auto;
		
		display: flex;
		flex-direction: row;
		justify-content: center;


	} */

	label{
		font-size: 18px;
		font-weight: bold;
		color: red;

	}
	/* select{
		width: 100%;
		height: 30px;
		margin-top: 5px;
	} */
	input{
		width: 100%;
		height: 30px;
		margin-top: 5px;
	}
	/* button{
		width: 100px;
		height: 30px;
		margin-top: 25px;
		background-color: #1c3961;
		color: white;
		font-weight: bold;
	} */

	.table-overflow{
		overflow: hidden;
		overflow-x: auto;
	}  
	
table th {
	border: 1px solid black;
	border-collapse: collapse;
	font-weight: bold;
	padding: 10px;
	font-size: 16px;
	background-color:#1c3961 !important;
	color: white;
  }


table td {
	border: 1px solid black;
	border-collapse: collapse;
	font-weight: bold;
	padding: 10px;
	font-size: 16px;
	

  }
	.form_box{
		padding-top: 5px;
		padding-bottom: 5px;

	}
	.box1{
		/*background-color: orange;*/
	}
	.box2{
		/*background-color: orange;*/
	}
	.box3{
		/*background-color: orange;*/
	}
	.box4{ 
		/*background-color: orange;*/
		 }
	.box5{
		/*background-color: orange;*/
	}


.display_report{
	width: 90%;
	height: auto;
	margin-left: 5%;

}
.display_table{
	width: 100%;
	border-spacing: 0px;
	background-color: white;
	
	
 
}

.display_table th {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	  background-color:#1c3961;
	  color: white;
	}


.display_table td {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	  
	}

	#model{
		height:90%;
		width:100%;
		display: none;
		position: fixed;
		top: 5%;
		/* bottom: 5%; */
		/* left: 10%; */
		background: rgb(52 49 49 / 88%);
		z-index: 1;
		overflow-y: scroll !important;
}
#model-form{
	background-color:white;
	width:80%;
	height: auto;
	position:relative;
	top:20px;
	left:10%;
	padding:;
	border-radius:4px;		
}
@media (max-width: 575.98px) { 
	#model-form{
		background-color:white;
		width:100%;
		height: auto;
		position:relative;
		top:20px;
		padding:;
		border-radius:4px;	
	}
 }
#close-btn{
	background-color:red;
	color:white;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:50%;
	position:absolute;
	top:-15px;
	right:-15px;
	cursor:pointer;
}
#record_table{
	width: 100%;
	cellpadding: "0";
	border: 1px solid black;
	
}
#record_table th {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	  background-color:#1c3961;
	  color: white;
	}


#record_table td {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-weight: bold;
	  padding: 10px;
	  font-size: 16px;
	}
	.button-color{
		background-color: #1c3961;
	}